body {
    font-size:12pt;
    font-family:verdana;
}

.border {
    border: 5px black;
}

.banner {
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.center {
    margin: auto;
    text-align: center;
    width: 50%;
    border: 3px black;
    padding: 10px;
}

.centered-container {
    width: 50%;
    padding: 10px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
    text-align: center;
}

.left-box {
    display: inline-block;
    text-align: center;
    width: 45%;
    margin: 10px; 
}

.right-box {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 45%;
    margin: 10px; 
}
