<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Stand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <div class="centered-container"></div>
    <h1 class="banner">Your Cart</h1>
        <div class="center">
            <form method="POST">
                <fieldset>
                    <input type="submit" name="sort_submit" value="High-to-Low" />
                    <input type="submit" name="sort_submit" value="Low-to-High" />
                </fieldset>
                <br>
            </form>
            <h2>Your Cart:</h2>
            {% for fruit in item_list %}
                {% if fruit.name == "Banana" %}
                    <p name="item_display">${{ "%.2f"|format(fruit.price) }} | {{ fruit.name }} </p>
                {% elif fruit.name == "Apple"  %}
                    <p name="item_display">${{ "%.2f"|format(fruit.price) }} | {{ fruit.name }} </p>
                {% elif fruit.name == "Orange"  %}
                    <p name="item_display">${{ "%.2f"|format(fruit.price) }} | {{ fruit.name }} </p>
                {% endif %}
            {% endfor %}
            <p>Subtotal: ${{ "%.2f"|format(subtotal) }}</p>
            {% if cart.discount_applied %}
            <p>Total: ${{ "%.2f"|format(cart.total) }}</p>
            {% endif %}
            <p>{{ purchase_message }}</p>
            <br>
            <form method="POST">
                <fieldset>
                    <label for="discount_code">Enter Discount Code:</label>
                    <input type="text" name="discount_code" />
                    <input type="submit" name="discount_submit" value="Apply Discount" />
                </fieldset>
            </form>
            <br>
            <br>
            <form method="POST">
                <fieldset>
                    <label for="purchase_operation">Purchase Items in Cart:</label>
                    <input type="submit" name="purchase_submit" value="Purchase" />
                </fieldset>
                <br>
            </form>
            <br>
            <br>
            <form method="POST">
                <fieldset>
                    <label for="return_home">Return Home:</label>
                    <input type="submit" name="return_home" value="Home" />
                </fieldset>
                <br>
            </form>
            <br>
        </div>
    <div>
</body>
</html>
